@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

:root{
    font-size: 10px;
}

*{padding: 0; margin: 0; box-sizing: border-box;}

@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    src:  url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
    unicode-range:U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');
    unicode-range: U+AC00-D7A3,U+0030-0039;
}

body{
    font-family: 'Cormorant Garamond','Noto Sans KR', serif;
}


/* reset */


/* header style start */

header{
    width: 100%;
    height: 100vh;
    background: url(../img/head/header_banner_img.png) no-repeat center/cover;
}


header .container{
    width: 80%;
    height: 100%;
    display: flex;
    position: relative;
    margin: auto;
}


header .left{
    width: 30%;
    height: 80%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .left .mid img:nth-child(1){
    margin-bottom: 20px;
}


header .left .bot{
    width: 60%;
    height: 20%;
    position: relative;
}


header .left .bot img{
    position: absolute;
}

header .left .bot img:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

header .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

header .center img{
    width: 93%;
}



/* header style end */


/* sec01 style start */

main #sec01{
    width: 100%;
    height: 125vh;
}



main #sec01 .top{
    width: 100%;
    height: 30%;
    background-color: rgba(177, 83, 60, 0.726);
    text-align: center;
    padding-top: 60px;
  
}

main #sec01 .img_box:nth-child(1){
    margin-bottom: 50px;
}


main #sec01 .bot{
    width: 100%;
    height: 60%;
    text-align: center;
    
}
main #sec01 .bot p{
    font-size: 50px;
    color: #333;
    padding: 30px 0;
    font-weight: 600;
}
main #sec01 .bot .img_box{
    margin-top: 10px;
}


main #sec01 .bot .bot_top{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    
}

#sec01 .bot .bot_bot{
    width: 55%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#sec01 .bot .bot_bot .left,
#sec01 .bot .bot_bot .right{
    position: relative;
}


main #sec01 .bot_bot img:nth-child(2){
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* sec01 style end */


/* sec02 style start */

main #sec02{
    width: 100%;
    height: 100vh;
    background: url(../img/main/sec02/sec02_bg.png);
}


#sec02 .top{
    width: 100%;
    text-align: center;
    padding-top: 140px;
  
}

#sec02 .img_box:nth-child(1){
    margin-bottom: 50px;
}

#sec02 .bot{
    text-align: center;
    margin: 100px;
    position: relative;
    
}


#sec02 .bot .img_box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* sec02 style end */

/* sec03 style start */

main #sec03{
    width: 100%;
    height: 100vh;
    background-color: #eee;
}


#sec03 .container{
    width: 90%;
    height: 100%;
    padding-top: 70px;
    margin: auto;
}

#sec03 .top {
    width: 100%;
}

#sec03 .top img:nth-child(2){
    margin: 0 30px 10px;
}

#sec03 .mid{
    padding-top: 50px;
} 

#sec03 .mid .img_box{
    margin-bottom: 40px;
}


#sec03 .bot .title{
    margin-bottom: 30px;
}

#sec03 .bot .color_text{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
}

#sec03 .bot .img_box{
    display: flex;
    width: 480px;
    justify-content: space-between;
    
}



/* sec03 style end */


/* sec04 style start */

#sec04{
    width: 100%;
    height: 180vh;
    background-color: rgba(222, 198, 160, 0.3);
}


#sec04 .title{
    width: 90%;
    margin: auto;
    padding-top: 70px;
}

.title_sub{
    padding: 200px 0;
    text-align: center;
}

#sec04 .center_img{
    text-align: center;
    margin-bottom: 100px;
}

#sec04 .splash_box{
    width: 100%;
    
    display: flex;
    position: relative;
}

#sec04 .splash_box .left{
    position: absolute;
    top: 200px;
    left: 180px;
    z-index: 1;
}


#sec04 .splash_box .center{
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#sec04 .splash_box .center img{
    width: 393px;
    margin-right: 50px;
}

#sec04 .splash_box .center img:nth-child(2){
    margin-right: 0;
}

/* sec04 style end */

/* sec style start */
#sec05{
    width: 100%;
    height: 700vh;
    background-color: rgba(222, 198, 160, 0.3);
    z-index: -1;
}


#sec05 .text_box{
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;
}

#sec05 .text_box .left{
    position: absolute;
    
    top: 200px;
    left: 300px;
    z-index: 1;
}


#sec05 .text_box .center img:nth-child(1){
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#sec05 .text_box .center img:nth-child(2){
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
}


#sec05 .main_pull{
    width: 100%;
    position: relative;
}

#sec05 .main_pull .left img{
    position: absolute;
    z-index: 1;
}

#sec05 .main_pull .center{
    position: absolute;
    left: 61%;
    top: -100px;
    z-index: 0;
    transform: translateX(-50%);
}


#sec05 .main_pull .left img:nth-child(1){
    right: 200px;
    top: 200px;
}
#sec05 .main_pull .left img:nth-child(2){
    top: 1100px;
    left: 300px;
}
#sec05 .main_pull .left img:nth-child(3){
    left: 300px;
    top: 2100px;
}
#sec05 .main_pull .left img:nth-child(4){
    right: 200px;
    top: 3000px;
}
#sec05 .main_pull .left img:nth-child(5){
    left: 300px;
    top: 3700px;
}
#sec05 .main_pull .left img:nth-child(6){
    right: 200px;
    top: 4500px;
}
/* sec style end */


/* sec06 style start */

#sec06{
    width: 100%;
    height: 1760vh;
    background-color: rgba(222, 198, 160, 0.3);
    z-index: -1;
}

#sec06 .title{
    text-align: center;
}

#sec06 .title_sub .img_box:nth-child(1){
    margin: 0 0 30px;
}

#sec06 .sub_page{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    
}

#sec06 .sub_page .right{
    padding-top: 300px;
}


/* sec06 style end */

/* sec07 style start */
#sec07{
    width: 100%;
    height: 100vh;
    background: url(../img/main/sec07/sec07_bg.png) no-repeat center/cover;
    
}


#sec07 .text{
    padding: 200px;
}
/* sec07 style end */

